@media (max-width: 900px) {
    .cards {
        border: 1px solid red;
        flex-direction: column;
        width: 100%;
    }

    .card {
        width: 98%;
    }
}

.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.container-reversable-card {
    width: 22.5%;
    height: max(7rem, 15vh);
    margin: 2%;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    transform-origin: center;
    perspective: 800px;
}

.inner-reversable-card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

.container-reversable-card:hover .inner-reversable-card{
    transform: rotateY(180deg);
}

.container-reversable-card:hover .card-back{
    opacity: 1;
}

.container-reversable-card:hover .card-front{
    opacity: 0;
}


.card {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: opacity 1s;
}

.card-front {
    opacity: 1
}

.card-back {
    transform: rotateY(180deg);
    opacity: 0;
}

