.head {
    z-index: 99;
    display: flex;
    flex-direction: column;
    background-color: var(--green-bg-color);
    color: var(--white-text-color);
    text-align: center;
}

.logo {
    position: unset;
    background-color: var(--dark-green-bg-color);
    color: var(--white-text-color);
    font-size: large;
    font-weight: bold;
    padding: 16px;
}

.head nav ul {
    list-style: none;
    padding: 16px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
}

.head nav a {
    text-decoration: none;
    font-weight: bold;
}

.head nav .menu-standalone{
    padding: 16px;
    justify-content: center;
    gap: 1rem;
    font-weight: bold;
}

.head nav a:hover {
    text-decoration: underline;
}

#full-menu {
    visibility: collapse;
    width: 100vw;
    height: 100vh;
    background-color: var(--green-bg-color);
    color: var(--white-text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#menu-fullscreen {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
    font-size: x-large;
}

#menu-fullscreen ul {
    list-style: none;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 3rem;
    display: flex;
    justify-content: right;
    gap: 3rem;
    flex-direction: column;
    font-size: large;

}

#menu-fullscreen nav a {
    text-decoration: none;
    font-weight: bold;
}

#menu-fs-decoration-right {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
}

@media (max-width: 600px) {
    .head nav ul {
        flex-direction: column;
    }
}