.slides-container {
    position: relative;
    margin: 0;
}

.slide {
    height: 100%;
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--white-text-color);
    mix-blend-mode: difference;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    mix-blend-mode: unset;
}

.slide-title {
    color: var(--white-text-color);
    mix-blend-mode: difference;
    font-size: 15px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.slide-number {
    color: var(--white-text-color);
    mix-blend-mode: difference;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.slide-img {
    width: 80vw;
}