[theme="light"] {
    --white-bg-color: #ececec;
    --glassy: rgba(255, 255, 255, 0.40);
    --gray-bg-color: #cccccc;
    --dark-gray-bg-color: #999999;
    --green-bg-color: #2e8b57;
    --dark-green-bg-color: #2f6245;
    --black-text-color: #212121;
    --white-text-color: #ececec;
    --ter-text-color: #2e8b57;

    --button-bg-color: #282828;
}

[theme="dark"] {
    --white-bg-color: #212121;
    --glassy: rgba(50, 50, 50, 0.60);
    --gray-bg-color: #2c2c2c;
    --dark-gray-bg-color: #3b3b3b;
    --green-bg-color: #2e8b57;
    --dark-green-bg-color: #2f6245;
    --black-text-color: #ececec;
    --white-text-color: #212121;
    --ter-text-color: #2e8b57;

    --button-bg-color: #e0e0e0;
}

.invisible-back {
    background: url("../assets/images/background.jpg") no-repeat fixed;
    filter: blur(3rem);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -9;
}

[theme="dark"] {
    .invisible-back {
        filter: blur(3rem) brightness(50%);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a {
    color: inherit;
    text-decoration: none;
}

.block {
    margin: 10px;
    padding: 20px;
    background: var(--glassy);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.19);
}

.full-width {
    width: 90%;
}

header {
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(66, 66, 66, 0.5);
    color: white;
    text-align: center;
}

header .title {
    font-weight: bold;
    padding: 16px;
}

header .nav-bar {
    overflow: hidden;
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

header .nav-bar a {
    float: left;
    display: block;
    color: white;
    border-radius: 16px;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 17px;
    transition: transform 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

header .nav-bar a:hover {
    transform: scale(1.1);
}

header .nav-bar a.active {
    background-color: rgba(0, 0, 0, 0.1);
}

header .nav-bar .icon {
    display: none;
}

@media(max-width: 900px) {
    header {
        height: auto;
        flex-direction: column;
        text-align: center;
    }
    .nav-bar {
        position: relative;
        width: 100%;
        align-items: center;
    }
    .nav-bar a:not(:first-child) {
        display: none;
    }
    .nav-bar a.icon {
        display: block;
    }
    .nav-bar.responsive {
        display: flex;
        flex-direction: column;
    }
    .nav-bar.responsive a {
        float: none;
        display: block;
        width: 80%;
    }
}

.button {
    border: none;
    border-radius: 8px;
    font-size: large;
    cursor: pointer;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    background-color: var(--dark-green-bg-color);
    color: var(--black-text-color);
}

main {
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slider1 {
    margin-top: 4rem;
    width: 75vw;
}

#slider1 .slide-img {
    border-radius: 16px;
    width: 75vw;
}

#theme-button {
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    width: 50px;
    height: 50px;
    padding: 10px;
}

#intro,
#intro .inner {
    display: flex;
    align-items: center;
    justify-content: center;

}

#intro {
    width: 100vw;
    height: 80vh;
    margin-bottom: 10vh;
    flex-direction: column;
}

#intro .inner {
    flex-direction: row;
    flex-grow: 2;
}

#intro .inner h1 {
    font-size: 4rem;
}

#intro .inner h1:nth-child(2) {
    font-size: 4rem;
    color: var(--ter-text-color)
}

#intro img {
    background-color: var(--green-bg-color);
    border-radius: 100%;
    transition: 0.3s ease-in-out;
    z-index: -1;
}

#intro img:hover {
    transform: scale(1.2);
}

@media(max-width: 900px) {
    #intro {
        height: auto;
    }

    #intro img {
        display: none;
    }
}


footer {
    background-color: rgba(66, 66, 66, 0.5);
    color: white;
    text-align: center;
    margin-top: auto;
    padding: 16px;
    width: 100vw;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
}